body {
    font-family: 'Open Sans', sans-serif;
    margin: 8px;
    background-color: #FEC31D;
}

header {
    background-color: #532D90;
    color: white;
    padding: .5rem;
}

h2 {
    color: #532D90;
    ;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 10px 20px;
    background-color: #F2EAD3;
  }

div img {
    height: 150px;
    width: 150px;
}

img {
    width: 15%;
}

#about > div {
    display: flex;
}

.names div {
    margin-right: 50px;
}

.names {
    display: flex;
    flex-wrap: wrap;
}

