body {
    font-family: 'Open Sans', sans-serif;
    margin: 8px;
    background-color: lightgrey;
}

header {
    background-color: #FEC31D;
    color: #532D90;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: 5px; 
    display: flex;
}

#logo {
    padding-right: 20px;
}

#logo img {
    height: auto;
}

h2 {
    color: #532D90;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 10px 20px;
    background-color: #F2EAD3;
    margin: 0px 14px;
  }

div img {
    height: 150px;
    width: 150px;
}

img {
    width: 15%;
}

#about > div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.names div {
    margin-right: 50px;
}

.names {
    display: flex;
    flex-wrap: wrap;
}

.iframe-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

footer {
    text-align: center;
}

